<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DemoTestWithFront</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>

<table border = "1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Id</th>
        <th>
            Student first name
        </th>
        <th>Student lastName</th>
        <th>Student age</th>
    </tr>
    </thead>
    <tbody id="root">

    </tbody>
    </table>

<button onclick = "getStudentList()" class="btn bg-danger">
    GetList
</button>

    <a th:href="@{/secondPage}" class="btn btn-success">Add student</a>

<!--<div id="inputValue">-->
<!--    <input  placeholder="name" id="name">-->
<!--    <input placeholder="lastName" id="lastName">-->
<!--    <input placeholder="age" id="age">-->

<!--    <button onclick="addStudent()">Add student</button>-->
<!--</div>-->

<h1 id="h1">


</h1>

<script th:inline="javascript" th:src="@{/js/api.js}" src="../static/js/api.js"> </script>
<!--<script  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"-->
<!--        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>